In [1]:
import re
import pandas as pd

In [3]:
df=pd.read_csv('pbp-2019.csv')

In [4]:
df=df[df['IsNoPlay']==0]

In [5]:
def extract_passer(x):
    return x.split('-')[1].split(' ')[0]

In [6]:
def extract_receiver(x):
    if len(x.split('-'))>2:
        return x.split('-')[2].split(' ')[0]
    else:
        'None'

In [7]:
def extract_running_back(x):
    if len(x.split('-'))>2:
        return x.split('-')[1].split(' ')[0]
    else:
        'None'

In [8]:
df['Target']=df[df['IsPass']==1]['Description'].apply(lambda x:extract_receiver(x))
df['QB']=df[df['IsPass']==1]['Description'].apply(lambda x:extract_passer(x))
df['RB']=df[df['IsRush']==1]['Description'].apply(lambda x:extract_running_back(x))

In [29]:
df[df['Target']=='G.BERNARD.']['Description']

4487    (6:41) (SHOTGUN) 14-A.DALTON PASS INCOMPLETE S...
Name: Description, dtype: object

In [9]:
df.head()

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards,Target,QB,RB
0,2019091511,2019-09-15,4,0,1,CHI,DEN,1,10,65,...,35,OPP,0,NaN,0,NaN,0,NaN,NaN,NaN
1,2019091511,2019-09-15,4,0,31,DEN,CHI,0,0,99,...,1,OPP,0,NaN,0,NaN,0,NaN,NaN,NaN
4,2019091511,2019-09-15,4,0,37,DEN,CHI,1,7,93,...,7,OPP,0,NaN,0,NaN,0,E.SANDERS,J.FLACCO,NaN
5,2019091511,2019-09-15,4,1,2,DEN,CHI,4,3,88,...,12,OPP,0,NaN,0,NaN,0,C.SUTTON,J.FLACCO,NaN
6,2019091511,2019-09-15,4,1,7,DEN,CHI,3,3,88,...,12,OPP,0,NaN,0,NaN,0,P.LINDSAY,J.FLACCO,NaN

In [10]:
df.to_csv('2019_clean_data.csv')

## Example Use Case: See % of all Targets by WR

In [11]:
df[df['IsNoPlay']==0].groupby(['Target','OffenseTeam']).sum()[['IsPass','Yards']].div(df[df['IsNoPlay']==0].groupby(['OffenseTeam']).sum()[['IsPass','Yards']]).sort_values(by='IsPass',ascending=False)

                                IsPass     Yards
Target           OffenseTeam
M.THOMAS         NO           0.302632  0.279101
K.ALLEN          LAC          0.285714  0.266451
J.CROWDER        NYJ          0.277778  0.279678
L.BELL           NYJ          0.263889  0.187123
T.HILTON         IND          0.259259  0.192593
D.HOPKINS        HOU          0.254237  0.235123
M.ANDREWS        BAL          0.253968  0.203358
J.BROWN          BUF          0.253731  0.247776
D.ADAMS          GB           0.250000  0.258182
A.ROBINSON       CHI          0.250000  0.259528
A.THIELEN        MIN          0.243902  0.174298
O.BECKHAM        CLE          0.236111  0.341250
C.GODWIN         TB           0.229508  0.263636
M.GALLUP         DAL          0.225806  0.226908
M.BROWN          BAL          0.222222  0.217351
D.WALLER         OAK          0.218750  0.196455
S.WATKINS        KC           0.217949  0.254639
D.MOORE          CAR          0.215909  0.231507
E.ENGRAM         NYG          0.215054  0.198307
J.ROSS           CIN          0.215054  0.366350
J.JONES          ATL          0.213483  0.208505
E.SANDERS        DEN          0.209877  0.254642
R.WOODS          LA           0.208955  0.141096
C.KUPP           LA           0.208955  0.228767
G.KITTLE         SF           0.207547  0.120670
K.GOLLADAY       DET          0.205479  0.195092
T.BOYD           CIN          0.204301  0.246947
T.LOCKETT        SEA          0.200000  0.185520
DE.WALKER        TEN          0.200000  0.160684
J.SMITH          PIT          0.197531  0.289803
...                                ...       ...
B.ROETHLISBERGER PIT          0.012346  0.014311
J.CONNER.        PIT          0.012346  0.000000
T.FUMAGALLI      DEN          0.012346  0.009284
J.HOLTON         PIT          0.012346  0.000000
J.SAMUELS.       PIT          0.012346  0.000000
D.JACKSON.       PHI          0.011494  0.000000
J.HOWARD.        PHI          0.011494  0.000000
D.SPROLES.       PHI          0.011494  0.000000
T.MCKINLEY].     PHI          0.011494  0.000000
C.WENTZ          PHI          0.011494  0.008032
I.THOMAS         CAR          0.011364  0.000000
C.HOGAN          CAR          0.011364  0.016438
C.HOGAN.         CAR          0.011364  0.000000
D.FREEMAN.       ATL          0.011236  0.000000
J.HARDY.         ATL          0.011236  0.000000
A.BARR].         ATL          0.011236  0.000000
A.HOOPER.        ATL          0.011236  0.000000
L.STOCKER        ATL          0.011236  0.005487
R.GAGE.          ATL          0.011236  0.000000
M.RYAN           ATL          0.011236  0.000000
A.ERICKSON.      CIN          0.010753  0.000000
T.JONES.         NYG          0.010753  0.000000
C.CORE.          NYG          0.010753  0.000000
D.SAMPLE.        CIN          0.010753  0.000000
M.CRABTREE.      ARI          0.010753  0.000000
G.BERNARD.       CIN          0.010753  0.000000
L.VANDER         NYG          0.010753  0.000000
74               ARI          0.010753  0.000000
J.MIXON.         CIN          0.010753  0.000000
M.KENDRICKS).    CIN          0.010753  0.000000

[500 rows x 2 columns]

In [22]:
targets=df[df['IsNoPlay']==0].groupby(['Target','OffenseTeam']).sum()[['IsPass','Yards']].div(df[df['IsNoPlay']==0].groupby(['OffenseTeam']).sum()[['IsPass','Yards']]).sort_values(by='IsPass',ascending=False).reset_index()

In [27]:
targets[targets['OffenseTeam']=='KC']

            Target OffenseTeam    IsPass     Yards
16       S.WATKINS          KC  0.217949  0.254639
73         T.KELCE          KC  0.128205  0.201031
85    DAM.WILLIAMS          KC  0.115385  0.089691
116     S.WATKINS.          KC  0.089744  0.000000
117       T.KELCE.          KC  0.089744  0.000000
118     D.ROBINSON          KC  0.089744  0.177320
209        L.MCCOY          KC  0.051282  0.012371
210      M.HARDMAN          KC  0.051282  0.062887
257     M.HARDMAN.          KC  0.038462  0.000000
319         T.HILL          KC  0.025641  0.016495
320  DAM.WILLIAMS.          KC  0.025641  0.000000
457      A.SHERMAN          KC  0.012821  0.015464
458         B.BELL          KC  0.012821  0.007216
459        B.BELL.          KC  0.012821  0.000000
460    D.ROBINSON.          KC  0.012821  0.000000
461       D.THOMAS          KC  0.012821  0.006186
462     D.THOMPSON          KC  0.012821  0.003093